/WeatherApp/Podfile.lock
/WeatherApp/Pods
/WeatherApp/WeatherApp.xcodeproj/xcuserdata
/WeatherApp/WeatherApp.xcodeproj/project.pbxproj
/WeatherApp/WeatherApp.xcodeproj/xcshareddata
/WeatherApp/xcov_output
