/WeatherApp/Podfile.lock
/WeatherApp/Pods
/WeatherApp/WeatherApp.xcodeproj/xcuserdata
/WeatherApp/WeatherApp.xcodeproj/project.pbxproj
/WeatherApp/WeatherApp.xcodeproj/xcshareddata
/WeatherApp/xcov_output
/WeatherApp/WeatherApp.xcodeproj/project.xcworkspace/xcuserdata
/WeatherApp/WeatherApp.xcworkspace/contents.xcworkspacedata
/WeatherApp/WeatherApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/WeatherApp/WeatherApp.xcworkspace/xcuserdata
